<html>

<head>
    <title>Diário</title>
</head>

<body>
    <h1>Sua trajetoria</h1>
    <div class="card">
        <div class="resummo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...</p>
        </div>
        <div class="resummo">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo...</p>
        </div>
    </div>
</body>

</html>