{% extends "diario/base.html" %}
{% block content %}
<div class="new-day">
    {% if user.is_authenticated %}
    <a href="{% url 'day_new' %}" class="btn btn-info"><span class="glyphicon glyphicon-plus">Novo
            dia</span></a>
    {% endif %}
</div>
<h3>Sua trajetoria</h3>
{%for day in days%}
<a href="{% url 'day_detail' pk=day.pk %}" class="fill-div">
    <div class="card">
        <div class="container">

            <p>{{day.created_date}}</p>
            <h5>Deixarei no dia de hoje:</h5>
            <div class="leave_text">
                <p>{{day.leave_text}}</p>
            </div>
            <h5>Estou grato por:</h5>
            <div class="gratitude_text">
                <p>{{day.gratitude_text|linebreaksbr}}</p>
            </div>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}